<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="CurrentConnectionStringPrefix" value="DBDev" />
    <add key="numWeeksBeforeCurrent" value="6" />
    <add key="numWeeksAfterCurrent" value="10" />
  </appSettings>
  <connectionStrings>
    <add name="DBDev:SGT" connectionString="server=ID02780\SQL2008R2; database=StiboTimesheet; uid=Stibo; pwd=Stibo" />
    <add name="DBDev:CPV" connectionString="server=ID02780\SQL2008R2; database=StiboTimesheetCPV; uid=Stibo; pwd=Stibo" />
    <add name="DBTest:SGT" connectionString="server=AAR-AX2; database=StiboTimesheetTest; uid=StiboTimesheetTest; pwd=gu7gK!i#" />
    <add name="DBTest:CPV" connectionString="server=AAR-AX2; database=StiboTimesheetCPVTest; uid=StiboTimesheetTest; pwd=gu7gK!i#" />
    <add name="DBLive:SGT" connectionString="server=AAR-AX2; database=StiboTimesheet; uid=StiboTimesheet; pwd=76Xyhj!R" />
    <add name="DBLive:CPV" connectionString="server=AAR-AX2; database=StiboTimesheetCPV; uid=StiboTimesheet; pwd=76Xyhj!R" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="service/*" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="service/*" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>